*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#050505;

color:white;

font-family:
Tahoma,
Arial,
sans-serif;

}


#loginBox,
.box,
.products{

background:
linear-gradient(
145deg,
#111,
#050505
);


border:1px solid #d4af37;


border-radius:20px;


box-shadow:
0 0 30px rgba(212,175,55,.2);


padding:30px;


}



#loginBox{

width:90%;

max-width:400px;

margin:100px auto;

text-align:center;

}



#adminPanel{

display:none;

}



.container{

width:90%;

max-width:700px;

margin:auto;

padding:30px 0;

}



h1{

text-align:center;

color:#d4af37;

margin-bottom:25px;

}



h2{

text-align:center;

margin:20px 0;

}



input,
select,
textarea{


width:100%;


padding:15px;


margin-bottom:15px;


border-radius:12px;


border:1px solid #d4af37;


background:#111;


color:white;


font-size:16px;


}


textarea{

height:120px;

resize:none;

}



button{


width:100%;


padding:15px;


border:none;


border-radius:12px;


background:#d4af37;


color:#000;


font-weight:bold;


font-size:17px;


cursor:pointer;


}



button:hover{

box-shadow:
0 0 20px #d4af37;

}



#loginMessage{

margin-top:15px;

color:#d4af37;

}



.productItem{


border:1px solid #d4af37;


border-radius:15px;


padding:15px;


margin:15px 0;


}
